body {
    margin: 0;
    font-family: sans-serif;
}

.nav {
    background: black;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a.active {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.btn {
    display: inline-block;
    background: #0077ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 15px;
}

.courses {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 250px;
    border-radius: 6px;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 10px;
}

.portfolio img {
    width: 100%;
    cursor: pointer;
}

.modal {
    display: none;
    justify-content:center;
    align-items:center;
    position: fixed;
    background: rgba(0,0,0,0.8);
    inset: 0;
}

#modalImg {
    width: 60%;
    border-radius: 10px;
}

#closeModal {
    color:white;
    font-size:30px;
    position:absolute;
    top:20px;
    right:20px;
    cursor:pointer;
}

.reserveBox, .contactBox {
    padding: 20px;
}

input, select, textarea {
    display: block;
    width: 250px;
    margin-bottom: 10px;
    padding: 8px;
}
