body{
  margin:0;
  font-family:Arial;
}

.navbar{
  background:#222;
  padding:12px;
}

.navbar a{
  color:white;
  margin-right:20px;
  text-decoration:none;
}

.hero{
  text-align:center;
  padding:80px 10px;
}

button{
  padding:10px 18px;
  cursor:pointer;
}

.title{
  text-align:center;
  margin-top:30px;
}

.courses{
  display:flex;
  gap:20px;
  justify-content:center;
  padding:20px;
}

.card{
  border:1px solid #ccc;
  padding:15px;
  width:220px;
}

.form{
  display:flex;
  flex-direction:column;
  width:280px;
  margin:auto;
  margin-top:20px;
  gap:10px;
}

.form input, select, textarea{
  padding:10px;
}

.gallery{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:10px;
  padding:10px;
}

.gallery img{
  width:100%;
  cursor:pointer;
}

#modal{
  display:none;
  position:fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  background:rgba(0,0,0,0.9);
  justify-content:center;
  align-items:center;
}

#modal img{
  width:80%;
}
